.container {
  font-family: 'Lexend Tera', sans-serif;
  font-size: 0.8rem;
  height: 100vh;
  padding-top: 5.5rem;
  padding-bottom: 5.5rem;
}

.cadastro input[type=submit]{
  margin-left: 8rem;
  background-color: transparent;
  border-radius: 10px;
  border: none;
}
